// Colors
$black: #000000;
$white: #ffffff;
$gray-light: #a1a1a1;
$gray-dark: #1a1a1a;
$border: #2a2a2a;

// Typography
$font-main: 'Inter', sans-serif;

// Spacing
$nav-height: 60px;

// Breakpoints
$mobile: 768px;